*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.nav{
    background-color: rgb(5, 5, 5);
    color: white;
    padding: 1rem;
   
}
#test{
    color: rgb(0, 183, 255);
}

.blog{
    
}
.post{
    padding: 1rem 0rem 1rem 0rem;
}
#hr{
    margin-bottom: 2rem;
}
.test{
    margin-bottom: 2rem;
}
.navbar{
    margin: 0rem 0rem 0rem 4rem;
    padding: 2rem 0rem 2rem 0rem;
}
.company{
    color: rgb(37, 174, 228);
}
#layout{
    font-size: 22px;
}
body{
    height: 100vh;
    width: 100%;
}
.container{
    margin: 5rem;
    display: grid;
    grid-template-columns: 70% auto;


}
#images{
    
    width: 100% ;
    
}
.search{
    border: 1px solid rgb(128, 122, 122);
    background-color:#F5F5F5;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
   

     
}
#para{
    max-width:100%;
}
.page{
    display: flex;
    padding: 1rem;
}
#image{
    height:35px;
    width: 34px;
}
.new{
   
}
input{
    width: 100%;
    padding: 0.5rem;
}
.two{
    padding: 1rem;
    margin: 1rem;
    background-color:#F5F5F5;
    border: 1px solid rgb(128, 122, 122);
    border-radius: 5px;
    
}
.sow{
    display: grid;
    grid-template-columns: auto auto;
    padding: 1rem;
    grid-column-gap: 2rem;
}
.three{
    background-color:#F5F5F5;
    border: 1px solid rgb(128, 122, 122);
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
}
footer{
    margin: 4rem;
}
@media only screen and (max-width: 480px) {
  
.container{
    margin: 1.5rem;
    display: grid;
    grid-template-columns:auto;


}
#service{
    font-size: 12px;
}
#contact{
    font-size: 12px;
}
#about{
    font-size: 12px;
}
#contact{
    font-size: 12px;
}
span{
    font-size: 20px;
}
.nav{
    background-color: rgb(5, 5, 5);
    color: white;
    padding: 10px 20px 12px 20px;
   
}
.navbar{
    margin: 0rem 0rem 0rem 2rem;
    padding: 2rem 0rem 2rem 0rem;
}
#layout{
    font-size: 18px;
}
#layout{
    font-size: 20px;
}
.navbar {
    margin: 0rem 0rem 0rem 1rem;
    padding: 2rem 0rem 5rem 0rem;
}


}
  

@media (min-width: 481px) and (max-width: 767px) {

    .container{
        margin: 1.5rem;
        display: grid;
        grid-template-columns:auto;
    
    
    }

    #layout{
        font-size: 20px;
    }
    .navbar {
        margin: 0rem 0rem 0rem 1rem;
        padding: 2rem 0rem 5rem 0rem;
    }
    
 .name{
     display: grid;
     grid-template-columns: auto auto;
 }
}

   
   